<button {{action 'testSuccess'}}>Test Success</button>
<button {{action 'testError'}}>Text Error</button>
{{#animated-status-label taskInstance=testTaskInstance as |labelState|}}
  {{#if (eq labelState 'settled')}}
    settled
  {{else if (eq labelState 'confirming')}}
    confirming
  {{else if (eq labelState 'pending')}}
    pending...
  {{/if}}
{{/animated-status-label}}